.btn-success {
    margin-left: 20px;
}

.status {
    margin-left: 50px;
    color: red;
}

.row {
    justify-content: center;
    width: 100%;
}

.sms-title {
    margin-top: 20px;
}

.thank-you {
    margin-bottom: 10px;
    color: coral;
}

.jumbotron {
    height: 100px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
    font-size: 20px;
}

.label {
    font-size: 20px;
    text-align: right;
}

.content {
    font-size: 20px;
    margin-left: 10px;
}

.detail-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 35px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: lightgray 1px solid;
    border-radius: 0.3rem;
    padding: 20px;
}
